

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navBar{
  background-color: white;
  
}
.DishImages{
  width: 55px;
  height: 55px;
}
.btn{
  border-radius: 2px!important;
}
.btn-left{
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.btn-right{
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;  
}
.addBorder{
  border-bottom: 1px solid #6b6a6a2b;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

.isactive {
 border-bottom:3px solid red !important;
 color: red !important;
 
}

@media only screen and (max-width: 600px) {
  .cart {
    overflow-x: scroll;
  }
}

.addOns{
  color:red;
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.btn-link {
  font-weight: 400;
  color: #0d6efd;
  text-decoration: none !important;
}